<launch>
  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />
    
  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/trajectory_controller/follow_joint_trajectory"/>
  
  <!-- Launch moveit -->
  <include file="$(find total_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>


  <!-- Launch gripper config -->
  <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch">

  </include>
</launch>
